.main-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.2fr);
    grid-gap: 20px;
    grid-template-areas:
    'image image about'
    'features features features'
    'footer footer footer';
}

.box {
  padding: 20px;
  text-align: center;
}

.about {
    grid-area: about;
}

.features {
    grid-area: features;
}

.screenshot-1 {
    grid-area: image;
}

.site-footer {
    grid-area: footer;
}

.feature-list {
    list-style-type: none;
}
